@import url(http://fonts.googleapis.com/css?family=Open+Sans);

:focus {
  outline: none;
}

header{
	background: white;
	position: fixed;
	height: 90px;
	width: 100%;
	top: 0px;
	z-index: 1;
}

.wrapper{
	padding-top: 90px;
}

header ol{
	list-style-type: none;
	padding: 0px;
}

header ol li{
    background: white;
    padding: 15px;
    border: 1px solid gray;
	border-radius: 5px;
	opacity: 0.5;
	transition: opacity 1s;
	display: inline-block;
	text-align: center;
}
header ol a:hover{
	background: transparent !important;
	color: white;
}

header ol li:hover{
	background: blue;
}
header ol li:hover .insider_ul{
	display: block;
	padding: 0px;
	position: absolute;
}

header *{
	display: inline-block;
}
header nav{
	margin: 10px;
}

ul.insider_ul{
	display: none;
	color: black;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.introduction{
	background-image: url(../img/wallpaper.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	
}

.events{
	background-image: url(../img/news-and-events-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
	padding: 50px;
	margin-top: 20px;
}

.events ul{
list-style-type: none;
}
.events ul li{
    background: white;
    width: 200px;
    padding: 25px;
    border: 1px solid gray;
	border-radius: 5px;
	opacity: 0.5;
	transition: opacity 1s;
}
.events ul li:hover{
	opacity: 0.8;
}

.events ul li p{
	color: black;
}

.events_item{
	display: inline-block;
	margin: 20px;
	color: white;
}
.events_item h3{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul.special_ul{
    list-style-type: circle;
}

.copy-right{
	opacity: 0.8;
}

.article_nav article{
    background: linear-gradient(pink,white);
    width: 200px;
    padding: 25px;
    border: 2px solid navy;
	border-radius: 5px;
    margin: 25px;
	display: inline-block;
}
.article_nav article:nth-child(1n){
	background: linear-gradient(HotPink,white);
	transition: background;
}
.article_nav article:nth-child(1n):hover{
	background: linear-gradient(white,HotPink);
}
.article_nav article:nth-child(2n){
	background: linear-gradient(LimeGreen,white);
	transition: background;
}
.article_nav article:nth-child(2n):hover{
	background: linear-gradient(white,LimeGreen);
}
.article_nav article:nth-child(3n){
	background: linear-gradient(orange,white);
	transition: background;
}
.article_nav article:nth-child(3n):hover{
	background: linear-gradient(white,orange);
}

.article_nav article a{
	display: block;
}

.article_nav article a::before{
	content: url(../img/btnArrow.png);
}

input[type="submit"] {
	box-shadow: 7px 7px 5px #888888;
}

input[type="submit"]:active {
	box-shadow: 2px 2px 5px #888888;
}


a:hover{
	background: linear-gradient(aqua,DeepSkyBlue);
}

button{
	border: 2px solid;
    border-radius: 10px;
	padding: 10px;
	transition: background-color 1s;
}

button:hover{
	border: 2px solid;
    border-radius: 10px;
	padding: 10px;
	background-color: gray;
}

.animated_story {
    width: 110px;
	transition: font-size 1s;
}

.animated_story:hover {
	font-size: 200%;
}
