@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
	font-family: 'Open Sans', sans-serif;
	margin-left: 0px;
	margin-right: 0px;
}

:focus {
  outline: none;
}

h2{
	margin: 0 auto;
	max-width:430px;
	text-align: center;
}

aside{
	padding-bottom: 20px;
}

header{
	background: white;
	width: 100%;
	box-shadow: 0px 2px 10px 0px gray;
	position: fixed;
	padding-top: 10px;
	height: 90px;
	top: 0px;
	z-index: 1;
}

.header_bar{
	margin: 0 auto;
	max-width: 1000px;
    height: 90px;
	padding-top: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
	z-index: 1;
}

.c_logo, .c_nav{
	float: left;
	padding-right: 10px;
}

body{
	margin: 0px;
	background: url(../img/weDoBG.png) repeat scroll 0 0,radial-gradient(ellipse at center,#ccd9dc 0%,#7d878a 100%);
}

section
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrapper{
	padding-top: 90px;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  background-color: white;
}

header li > ul {
  display: none;
  position: absolute;
  width: 150px;
}

header li a {
  color: #333;
}

header ul > li {
  float: left;
  padding: 10px;
}

header li:hover > ul {
  display: block;
}

header li > ul > li {
  float: none;
}

.c_logo, .c_nav{
	float: left;
	padding-right: 10px;
	vertical-align: bottom;
}

.c_nav{
	padding-top: 33px;
}

select.language{
	margin-top: 18px;
}

.special_ul li{
    padding-right: 30px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
}
.special_ul li a{
    display: inline-block;
    margin: 0 auto;
 }

.special_ul_1{
	background: url("../img/solution_icon_biz-analitics.png") no-repeat center center;
	display:block;
    margin: 0 auto;
	height: 63px;
 }
.special_ul li:hover .special_ul_1{
	background: url("../img/solution_icon_biz-analitics_hover.png") no-repeat center center;
 }
 
.special_ul_2{
	background: url("../img/solution_icon_biz-transform.png") no-repeat center center;
	display:block;
    margin: 0 auto;
	height: 63px;
 }
.special_ul li:hover .special_ul_2{
	background: url("../img/solution_icon_biz-transform_hover.png") no-repeat center center;
 }
 
.special_ul_3{
	background: url("../img/solution_icon_diti-cx.png") no-repeat center center;
	display:block;
    margin: 0 auto;
	height: 63px;
 }
.special_ul li:hover .special_ul_3{
	background: url("../img/solution_icon_diti-cx_hover.png") no-repeat center center;
 }
 
.special_ul_4{
	background: url("../img/solution_icon_optimize-efficnt.png") no-repeat center center;
	display:block;
    margin: 0 auto;
	height: 63px;
 }
.special_ul li:hover .special_ul_4{
	background: url("../img/solution_icon_optimize-efficnt_hover.png") no-repeat center center;
 }
 
.special_ul_5{
	background: url("../img/solution_icon_personal.png") no-repeat center center;
	display:block;
    margin: 0 auto;
	height: 63px;
 }
.special_ul li:hover .special_ul_5{
	background: url("../img/solution_icon_personal_hover.png") no-repeat center center;
 }
 
.special_ul_6{
	background: url("../img/solution_icon_smart-money.png") no-repeat center center;
	display:block;
    margin: 0 auto;
	height: 63px;
 }
.special_ul li:hover .special_ul_6{
	background: url("../img/solution_icon_smart-money_hover.png") no-repeat center center;
 }
 
.context{
	background: url(../img/weDoBG.png) repeat scroll 0 0,radial-gradient(ellipse at center,#59bedb 0%,#39c 100%);
}

.context_insider{
	margin: 0 auto;
	max-width: 1000px;
}

.introduction{
	background-image: url(../img/slide-bg-complexity.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	box-shadow: 0px 2px 10px 0px gray;
	position: relative;
	transition: all 1s ease-in;
}

ol.slideshow{
	margin: 10px auto;
	max-width: 1000px;
	padding-left: 0px;
}


ol.slideshow li{
	width: 11px;
	height: 11px;
	border-radius: 2px;
	background-color: LightGray;
	float: left;
	margin: 3px;
}

ol.slideshow li{
	cursor: pointer;
}

ol.slideshow li{
	list-style-type: none;
}

ol.slideshow li:first-child{
	margin-left: 0px !important;
}

ol.slideshow li:hover{
	box-shadow: 0px 0px 5px #fff;
}

ol.slideshow li:active{
	background-color: gray;
}

ol.slideshow li.slideshow_1{
	
}

.events{
	background-image: url(../img/news-and-events-bg.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	box-shadow: 0px 2px 10px 0px gray;
	position: relative;
}

.inside_footer{
	margin: 0 auto;
	max-width: 1000px;
}

footer ul{
	list-style-type: none;
	display: inline;
	margin-bottom: 20px;
}
footer > .inside_footer > ul > li{
	display: inline-block;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}
footer > .inside_footer > ul > li:first-child {
	padding-left: 0px;
}
footer > .inside_footer > ul > li:last-child {
	padding-right: 0px;
}
footer ul ul{
	padding: 0px;
}
footer ul ul li{
	display: block;
}

.latest_posts{
	display: inline-block;
	margin-left: 30px;
}

.inside_events{
	margin: 0 auto;
	max-width: 1000px;
}

.events ul{
list-style-type: none;
}
.events ul li{
    width: 200px;
	display: inline-block;
	color: white;
	margin: 50px;
}

.events ul li p{
	color: black;
}

.events_item{
    background: white;
    width: 200px;
    padding: 25px;
    border: 1px solid gray;
	border-radius: 5px;
	opacity: 0.5;
	transition: opacity 1s;
	word-wrap: break-word;
	display: block;
	color: white;
}
.events_item:hover{
	opacity: 0.7;
}

.events_item h3{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.copy-right{
	opacity: 0.8;
}

.intro, .article_nav{
	margin: 0 auto;
	max-width: 1000px;
}

.article_nav article{
    background: rgba(251,66,158,0.7);
    width: 200px;
    padding: 25px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
    margin: 25px;
	display: inline-block;
	word-wrap: break-word;
	color: white;
}
.article_nav article:first-child{
	margin-left: 0px;
}
.article_nav article:last-child{
	margin-right: 0px;
}
.article_nav article:nth-child(1n){
	background: rgba(251,66,158,0.7);
}
.article_nav article:nth-child(1n):hover{
	background: rgba(251,66,158,0.8);
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
.article_nav article:nth-child(2n){
	background: rgba(106,196,61,0.7);
}
.article_nav article:nth-child(2n):hover{
	background: rgba(106,196,61,0.8);
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
.article_nav article:nth-child(3n){
	background: rgba(255,117,25,0.7);
}
.article_nav article:nth-child(3n):hover{
	background: rgba(255,117,25,0.8);
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
.article_nav article a{
	display: block;
}

.article_nav article a::before{
	content: url(../img/btnArrow.png);
}

a:hover{
	color: #e3e3e3;
}

button, input[type="submit"]{
	border: 0px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #43afd7;
	opacity: 1.0;
	color: white;
	text-align: center;
}

.centered_button{
	margin: 0 auto;
	max-width: 200px;
	text-align: center;
}

button:hover , input[type="submit"]:hover{
	box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
button:active , input[type="submit"]:active{
	box-shadow: none;
}

input[type="text"]{
	border-radius: 4px;
}

.stories{
	margin: 0 auto;
	max-width: 1000px;
}

.success_stories_list > li {
  display: inline-block;
  width: 32%;
  float: left;
  margin: 4px;
  padding: 2px;
}
.success_stories_list > li > section {
  padding: 10px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 3px;
}
.success_stories_list > li > section a{
  transition: color 1s, font-size 1s;
  text-decoration: none;
}
.success_stories_list > li > section a:hover {
	color: OrangeRed;
	font-size: 102%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 20px;
}

section.no_picture{
	width: 250px;
}

.success_stories_list > li > section > a  > img {
  float: left;
  margin-left: 2px;
  padding-right: 10px;
}
.success_stories_list > li > section > a > p {
  border-bottom: 1px solid LightGray;
  margin: 0 auto;
  height: 110px;
}
.success_text {
  display: inline-block;
}
.success_text > p {
  margin: 0 auto;
  padding: 2px;
}
.success_text > p > a {
  text-decoration: none;
  color: blue;
}
.person_pic {
  float: right;
  max-width: 100px;
}
.company {
  display: inline-block;
  margin: 10px 6px 0 0;
  background: #FFFFFF;
  width: 31%;
  border-radius: 3px;
  text-align: center;
}

img{
  vertical-align: middle;
}
.company:last-child {
  display: inline-block;
  margin: 10px 0 0 0;
  background: #FFFFFF;
  width: 31%;
  border-radius: 3px;
  text-align: center;
}
.logos{
	text-align: center;
}

.logos_top {
  margin-bottom: 10px;
}
.logos_top > .company {
  display: inline-block;
  margin: 0 6px 0 0;
  background: #FFFFFF;
  width: 31%;
  border-radius: 3px;
  text-align: center;
  vertical-align: top;
}
.logos_top > .company:last-child {
  display: inline-block;
  margin: 0;
  background: #FFFFFF;
  width: 31%;
  border-radius: 3px;
  text-align: center;
  vertical-align: top;
}

.company {
	opacity: 0.7;
	transition: opacity 1s;
}
.company:hover{
	opacity: 1;
}

footer{
	background: url(../img/weDoBG.png) repeat scroll 0 0,radial-gradient(ellipse at center,#ccd9dc 0%,#7d878a 100%);
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 60px;
}
